
# __Data Audit Code__

### i) Data Audit Table
- This workbook contains code to audit excel data files
- By opening a 'csv' file and running the below code, each function will return a dataframe that can be pasted into a document. 
- 1) __data_audit__ The first function will create a dataframe that detects missing values for each column
- 2) __value_count__ This function returns a series containting counts of unqiue values for each column
- 3) __join_tables__ Returns an inner join of the two dataframes produced above

### ii) Deleting Missing Values 
- This section can be used for deleting incomplete data in dataframes
- 1) __missing_values_table__ craetes a data for missing data only 
- 2) __remove_incomplete_columns__ The code runs the missing values table and removes the columns which contain more than x% of missing data

In [1]:
import pandas as pd 
import numpy as np
df = pd.read_csv('2019 Hotel Master List.csv')

In [2]:
def data_audit(df):
    
    '''Detects missing values for each column and returns a dataframe'''
    
    # Total missing values
    mis_val = df.isnull().sum()
        
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
        
    # Create a table
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Missing Values'})
        
    # Round values in table
    mis_val_table_ren_columns = mis_val_table_ren_columns.round(2)
        
    # Create df with missing values
    missing_values_only = mis_val_table_ren_columns[
    mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Missing Values', ascending=False)
        
    # Repeat for values with no data at all
    NO_DATA = mis_val_table_ren_columns[
    mis_val_table_ren_columns['% of Total Missing Values'] == 100]
        
    # and print the summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"   
               
            "There are " + str(missing_values_only.shape[0]) +
              " columns that have missing values.\n" + 
               
               "There are " + str(NO_DATA.shape[0]) +
              " columns that have no data.")
        
    #data audit copied to clipboard (paste into excel)
    print(mis_val_table_ren_columns.to_clipboard())
        
    # Return the dataframe
    return mis_val_table_ren_columns

In [3]:
data_audit(df)

Your selected dataframe has 50 columns.
There are 35 columns that have missing values.
There are 0 columns that have no data.
None

                                    Missing Values  % of Total Missing Values
Fac ID                                           0                       0.00
Hotel Code                                       1                       0.09
Hotel Name                                       0                       0.00
Open/Closed                                      0                       0.00
Brand                                            0                       0.00
Business Unit                                    0                       0.00
Geography Division                               0                       0.00
Ops VP                                           1                       0.09
Ops Director/RGM                                34                       3.14
AGM                                            697                      64.42
Hotel Type                                       0                       0.00
Country Brand Grouping                           0                       0.00
RGI Comparable View                              0                       0.00
Owner Account                                  373                      34.47
Management Company                             368                      34.01
Country                                          0                       0.00
Prioritisation Score                           353                      32.62
ERC Grouping                                   903                      83.46
Lat                                              0                       0.00
Long                                             0                       0.00
Hotel Open Date                                  0                       0.00
Hotel Closed Date                             1042                      96.30
Contract Expiry Date                             2                       0.18
City                                             1                       0.09
Room Count                                       0                       0.00
Operator Regional Director                     693                      64.05
STR Market Name                                 54                       4.99
STR Tract Name                                  54                       4.99
STR Scale                                       44                       4.07
GM Title                                       717                      66.27
GM First Name                                   53                       4.90
GM Last Name                                    53                       4.90
GM E-Mail Address                               50                       4.62
Additional CC E-Mail Address                    29                       2.68
Brand HI Open Lobby Version                    543                      50.18
Brand HI Open Lobby Type                       798                      73.75
Brand HI Open Lobby Refurb                    1023                      94.55
Brand HI Open Lobby Launch Month               852                      78.74
Brand HI MGS Status                            543                      50.18
Brand HI MGS Launch Month                     1010                      93.35
Brand HI Guestrooms Status                     543                      50.18
Brand HI Guestroom Type                        962                      88.91
Brand HI Guestroom Soft/Hard                  1020                      94.27
Brand HI Guestrooms Launch Month               924                      85.40
Brand EX Guestrooms Status                     543                      50.18
Brand EX Guestrooms Launch Month               933                      86.23
Brand EX Public Areas Status                   543                      50.18
Brand EX Public Areas Launch Month             996                      92.05
Fac ID2                                         12                       1.11
STR Hotel Identifier                             0                       0.00

In [4]:
#create a function to concat columns. Used in pivot table agg function below
def string_concat(x):
    return  ' , '.join(x.values.astype(str))

In [5]:
def value_count(df):
    
    '''Return a Series containing counts of unique values for each column'''
    
    #create a dataframe with each column, its variable, and value count
    df = pd.concat([df.apply(lambda x: x.value_counts()).T.stack()], axis = 1)
    
    #reset index
    df = df.reset_index()
    
    #concat column variable and count
    df['Value_counts'] = df[['level_1', 0]].apply(lambda x: ' : '.join(x.astype(str)), axis=1)
    
    #create a pivot table with each colun as the index and an agg function to concat all value counts
    table = pd.pivot_table(df, index = ['level_0'], 
                       values = ['Value_counts'], 
                        aggfunc ={'Value_counts':string_concat})
    
    return table

In [6]:
value_count(df)

C:\Users\robert.lowe\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexes\api.py:107: RuntimeWarning: '<' not supported between instances of 'str' and 'float', sort order is undefined for incomparable objects
  result = result.union(other)
C:\Users\robert.lowe\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexes\api.py:107: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)
C:\Users\robert.lowe\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:7397: RuntimeWarning: '<' not supported between instances of 'float' and 'str', sort order is undefined for incomparable objects
  index = _union_indexes(indexes)

                                                                         Value_counts
level_0
AGM                                 (Katara hotel) : 1.0 , (Poland hotels) : 2.0 ,...
Additional CC E-Mail Address        gm@hiruncornhotel.co.uk : 1.0 , gm@hilancaster...
Brand                               CP : 191.0 , EX : 312.0 , HI : 397.0 , IC : 10...
Brand EX Guestrooms Launch Month    01 December 2019 : 15.0 , 01 March 2019 : 11.0...
Brand EX Guestrooms Status          Refurb : 2.0 , NHOP : 32.0 , No : 431.0 , Refu...
Brand EX Public Areas Launch Month  01 December 2019 : 4.0 , 01 March 2020 : 11.0 ...
Brand EX Public Areas Status        Excluded : 1.0 , NHOP : 31.0 , No : 492.0 , Re...
Brand HI Guestroom Soft/Hard                                 Hard : 60.0 , Soft : 2.0
Brand HI Guestroom Type             Generic scheme : 94.0 , Interpretation new sch...
Brand HI Guestrooms Launch Month    01 December 2019 : 8.0 , 01 March 2020 : 5.0 ,...
Brand HI Guestrooms Status                                    No : 441.0 , Yes : 98.0
Brand HI MGS Launch Month           01 March 2019 : 1.0 , 01 December 2018 : 4.0 ,...
Brand HI MGS Status                          Excluded : 3.0 , No : 464.0 , Yes : 72.0
Brand HI Open Lobby Launch Month    01 December 2019 : 50.0 , 01 March 2020 : 15.0...
Brand HI Open Lobby Refurb                                Hard : 36.0 , Medium : 23.0
Brand HI Open Lobby Type                Refurb : 246.0 , NHOP : 27.0 , Rebrand : 11.0
Brand HI Open Lobby Version         Not launched yet : 444.0 , Open Lobby plus din...
Business Unit                       AUAJ : 80.0 , EUR : 747.0 , IMEA : 160.0 , SEA...
City                                Cannock : 1.0 , London : 56.0 , Dubai : 17.0 ,...
Contract Expiry Date                01/02/2018 : 1.0 , 31/12/2015 : 1.0 , 01/01/20...
Country                             ALGERIA : 1.0 , ANDORRA : 1.0 , ARMENIA : 1.0 ...
Country Brand Grouping              CP AUAJ : 36.0 , CP GERMANY : 7.0 , CP IMEA : ...
ERC Grouping                        ATLAS : 46.0 , Beck Conroy : 2.0 , Chardon : 6...
Fac ID                              F10016 : 1.0 , F10032 : 1.0 , F10056 : 1.0 , F...
Fac ID2                             F10016 : 1.0 , F10032 : 1.0 , F10056 : 1.0 , F...
GM E-Mail Address                   TBC : 3.0 , Sameh.elamri@hiexdubai.ae : 4.0 , ...
GM First Name                       Beverley : 1.0 , David : 14.0 , Michael : 13.0...
GM Last Name                        Darlington : 1.0 , Telford : 1.0 , Cairns : 1....
GM Title                            Mr. : 172.0 , Mr : 95.0 , Mrs. : 38.0 , Ms. : ...
Geography Division                  Africa : 1.0 , Africa Franchise : 20.0 , Austr...
Hotel Closed Date                   18/12/2018 : 2.0 , 31/03/2019 : 1.0 , 01/02/20...
Hotel Code                          ABZAA : 1.0 , ABZCC : 1.0 , ABZEC : 1.0 , ABZE...
Hotel Name                          ANA Crowne Plaza Chitose : 1.0 , ANA Crowne Pl...
Hotel Open Date                     26/03/1998 : 35.0 , 10/05/2007 : 22.0 , 01/06/...
Hotel Type                                       Franchised : 748.0 , Managed : 334.0
Lat                                 12.98727 : 6.0 , 55.865272 : 2.0 , -35.282623 ...
Long                                77.732561 : 6.0 , 77.306595 : 2.0 , 149.134836...
Management Company                  A.R.C : 1.0 , ANA Holding : 1.0 , Acron Czech ...
Open/Closed                         Closed (2018) : 17.0 , Closed (2019) : 8.0 , O...
Operator Regional Director          Andreas Kessling : 2.0 , David Morgan : 21.0 ,...
Ops Director/RGM                    Adam McDonald : 3.0 , Alexander Preusser : 73....
Ops VP                              Amith Khanna : 41.0 , Aron Libinson : 38.0 , B...
Owner Account                       4C Hotel Group : 2.0 , 888 Hotel Ltd : 1.0 , A...
Prioritisation Score                12.5 : 1.0 , 14.0 : 4.0 , 16.0 : 4.0 , 18.0 : ...
RGI Comparable View                       Comparable : 819.0 , Non-Comparable : 263.0
Room Count                          120 : 22.0 , 130 : 15.0 , 140 : 14.0 , 100 : 1...
STR Hotel Identifier                1 : 123.0 , 229373 : 1.0 , 135768 : 1.0 , 2095...
STR Market Name                     TBC : 66.0 , London : 52.0 , Dubai : 12.0 , Ma...
STR Scale                           TBC : 90.0 , Upper Midscale Chains : 637.0 , U...
STR Tract Name                      TBC : 66.0 , Riyadh : 7.0 , Hamburg : 6.0 , Li...

In [7]:
def join_tables(df):
    
    '''Returns the joined above dataframes (value_counts + data_aduit)'''
    
    #create dataframes using data_audit function (see above) and value_counts function (see above)
    data_audited = data_audit(df)
    value_counts = value_count(df)
    
    #reset_index
    data_audited = data_audited.reset_index()
    value_counts = value_counts.reset_index()
    
    #rename value count table to index (for merging of dataframes)
    value_counts.rename(columns={'level_0': 'index'}, inplace=True)
    
    #inner join the two dataframes
    df = pd.merge(data_audited, value_counts, on=['index'], how='inner')
    
    #copy dataframe to clipboard (to can paste to excel or other source)
    print(df.to_clipboard())
    
    return df

In [8]:
join_tables(df)

Your selected dataframe has 50 columns.
There are 35 columns that have missing values.
There are 0 columns that have no data.
None
None

,index,Missing Values,% of Total Missing Values,Value_counts
0,Fac ID,0,0.00,"F10016 : 1.0 , F10032 : 1.0 , F10056 : 1.0 , F..."
1,Hotel Code,1,0.09,"ABZAA : 1.0 , ABZCC : 1.0 , ABZEC : 1.0 , ABZE..."
2,Hotel Name,0,0.00,"ANA Crowne Plaza Chitose : 1.0 , ANA Crowne Pl..."
3,Open/Closed,0,0.00,"Closed (2018) : 17.0 , Closed (2019) : 8.0 , O..."
4,Brand,0,0.00,"CP : 191.0 , EX : 312.0 , HI : 397.0 , IC : 10..."
5,Business Unit,0,0.00,"AUAJ : 80.0 , EUR : 747.0 , IMEA : 160.0 , SEA..."
6,Geography Division,0,0.00,"Africa : 1.0 , Africa Franchise : 20.0 , Austr..."
7,Ops VP,1,0.09,"Amith Khanna : 41.0 , Aron Libinson : 38.0 , B..."
8,Ops Director/RGM,34,3.14,"Adam McDonald : 3.0 , Alexander Preusser : 73...."
9,AGM,697,64.42,"(Katara hotel) : 1.0 , (Poland hotels) : 2.0 ,..."
10,Hotel Type,0,0.00,"Franchised : 748.0 , Managed : 334.0"
11,Country Brand Grouping,0,0.00,"CP AUAJ : 36.0 , CP GERMANY : 7.0 , CP IMEA : ..."
12,RGI Comparable View,0,0.00,"Comparable : 819.0 , Non-Comparable : 263.0"
13,Owner Account,373,34.47,"4C Hotel Group : 2.0 , 888 Hotel Ltd : 1.0 , A..."
14,Management Company,368,34.01,"A.R.C : 1.0 , ANA Holding : 1.0 , Acron Czech ..."
15,Country,0,0.00,"ALGERIA : 1.0 , ANDORRA : 1.0 , ARMENIA : 1.0 ..."
16,Prioritisation Score,353,32.62,"12.5 : 1.0 , 14.0 : 4.0 , 16.0 : 4.0 , 18.0 : ..."
17,ERC Grouping,903,83.46,"ATLAS : 46.0 , Beck Conroy : 2.0 , Chardon : 6..."
18,Lat,0,0.00,"12.98727 : 6.0 , 55.865272 : 2.0 , -35.282623 ..."
19,Long,0,0.00,"77.732561 : 6.0 , 77.306595 : 2.0 , 149.134836..."
20,Hotel Open Date,0,0.00,"26/03/1998 : 35.0 , 10/05/2007 : 22.0 , 01/06/..."
21,Hotel Closed Date,1042,96.30,"18/12/2018 : 2.0 , 31/03/2019 : 1.0 , 01/02/20..."
22,Contract Expiry Date,2,0.18,"01/02/2018 : 1.0 , 31/12/2015 : 1.0 , 01/01/20..."
23,City,1,0.09,"Cannock : 1.0 , London : 56.0 , Dubai : 17.0 ,..."
24,Room Count,0,0.00,"120 : 22.0 , 130 : 15.0 , 140 : 14.0 , 100 : 1..."
25,Operator Regional Director,693,64.05,"Andreas Kessling : 2.0 , David Morgan : 21.0 ,..."
26,STR Market Name,54,4.99,"TBC : 66.0 , London : 52.0 , Dubai : 12.0 , Ma..."
27,STR Tract Name,54,4.99,"TBC : 66.0 , Riyadh : 7.0 , Hamburg : 6.0 , Li..."
28,STR Scale,44,4.07,"TBC : 90.0 , Upper Midscale Chains : 637.0 , U..."
29,GM Title,717,66.27,"Mr. : 172.0 , Mr : 95.0 , Mrs. : 38.0 , Ms. : ..."
30,GM First Name,53,4.90,"Beverley : 1.0 , David : 14.0 , Michael : 13.0..."
31,GM Last Name,53,4.90,"Darlington : 1.0 , Telford : 1.0 , Cairns : 1...."
32,GM E-Mail Address,50,4.62,"TBC : 3.0 , Sameh.elamri@hiexdubai.ae : 4.0 , ..."
33,Additional CC E-Mail Address,29,2.68,"gm@hiruncornhotel.co.uk : 1.0 , gm@hilancaster..."
34,Brand HI Open Lobby Version,543,50.18,"Not launched yet : 444.0 , Open Lobby plus din..."
35,Brand HI Open Lobby Type,798,73.75,"Refurb : 246.0 , NHOP : 27.0 , Rebrand : 11.0"
36,Brand HI Open Lobby Refurb,1023,94.55,"Hard : 36.0 , Medium : 23.0"
37,Brand HI Open Lobby Launch Month,852,78.74,"01 December 2019 : 50.0 , 01 March 2020 : 15.0..."
38,Brand HI MGS Status,543,50.18,"Excluded : 3.0 , No : 464.0 , Yes : 72.0"
39,Brand HI MGS Launch Month,1010,93.35,"01 March 2019 : 1.0 , 01 December 2018 : 4.0 ,..."
40,Brand HI Guestrooms Status,543,50.18,"No : 441.0 , Yes : 98.0"
41,Brand HI Guestroom Type,962,88.91,"Generic scheme : 94.0 , Interpretation new sch..."
42,Brand HI Guestroom Soft/Hard,1020,94.27,"Hard : 60.0 , Soft : 2.0"
43,Brand HI Guestrooms Launch Month,924,85.40,"01 December 2019 : 8.0 , 01 March 2020 : 5.0 ,..."
44,Brand EX Guestrooms Status,543,50.18,"Refurb : 2.0 , NHOP : 32.0 , No : 431.0 , Refu..."
45,Brand EX Guestrooms Launch Month,933,86.23,"01 December 2019 : 15.0 , 01 March 2019 : 11.0..."
46,Brand EX Public Areas Status,543,50.18,"Excluded : 1.0 , NHOP : 31.0 , No : 492.0 , Re..."
47,Brand EX Public Areas Launch Month,996,92.05,"01 December 2019 : 4.0 , 01 March 2020 : 11.0 ..."
48,Fac ID2,12,1.11,"F10016 : 1.0 , F10032 : 1.0 , F10056 : 1.0 , F..."
49,STR Hotel Identifier,0,0.00,"1 : 123.0 , 229373 : 1.0 , 135768 : 1.0 , 2095..."

## Missing Values Table
- The below code returns a dataframe with missing data only

In [9]:
def missing_values_table(df):
    '''Creates a data for missing data only'''
    
    # Total missing values
    mis_val = df.isnull().sum()
        
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
        
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
        
    # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
    # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [10]:
missing_values_table(df)

Your selected dataframe has 50 columns.
There are 35 columns that have missing values.

                                    Missing Values  % of Total Values
Hotel Closed Date                             1042               96.3
Brand HI Open Lobby Refurb                    1023               94.5
Brand HI Guestroom Soft/Hard                  1020               94.3
Brand HI MGS Launch Month                     1010               93.3
Brand EX Public Areas Launch Month             996               92.1
Brand HI Guestroom Type                        962               88.9
Brand EX Guestrooms Launch Month               933               86.2
Brand HI Guestrooms Launch Month               924               85.4
ERC Grouping                                   903               83.5
Brand HI Open Lobby Launch Month               852               78.7
Brand HI Open Lobby Type                       798               73.8
GM Title                                       717               66.3
AGM                                            697               64.4
Operator Regional Director                     693               64.0
Brand EX Public Areas Status                   543               50.2
Brand EX Guestrooms Status                     543               50.2
Brand HI Guestrooms Status                     543               50.2
Brand HI MGS Status                            543               50.2
Brand HI Open Lobby Version                    543               50.2
Owner Account                                  373               34.5
Management Company                             368               34.0
Prioritisation Score                           353               32.6
STR Market Name                                 54                5.0
STR Tract Name                                  54                5.0
GM First Name                                   53                4.9
GM Last Name                                    53                4.9
GM E-Mail Address                               50                4.6
STR Scale                                       44                4.1
Ops Director/RGM                                34                3.1
Additional CC E-Mail Address                    29                2.7
Fac ID2                                         12                1.1
Contract Expiry Date                             2                0.2
Ops VP                                           1                0.1
City                                             1                0.1
Hotel Code                                       1                0.1

## Removing Missing Data
- The below code runs the missing values table
- Then removes the columns which contain more than x% of missing data

In [11]:
#df = dataframe
#x = the % of missing data
def remove_incomplete_columns(df, x):
    
    '''Code to remove columns where more than X% of the columns have missing data'''
    
    #use the missing_values_table function (see above)
    missing_df = missing_values_table(df)
    
    #delete the columns which are more than x% missing
    missing_columns = list(missing_df[missing_df['% of Total Values'] > x].index)
    print('We will remove %d columns.' % len(missing_columns))
    
    #reassign dataframe with new data
    df = df.drop(columns = list(missing_columns))
    
    return df

In [14]:
df = remove_incomplete_columns(df,50)

Your selected dataframe has 50 columns.
There are 35 columns that have missing values.
We will remove 19 columns.

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1082 entries, 0 to 1081
Data columns (total 31 columns):
Fac ID                          1082 non-null object
Hotel Code                      1081 non-null object
Hotel Name                      1082 non-null object
Open/Closed                     1082 non-null object
Brand                           1082 non-null object
Business Unit                   1082 non-null object
Geography Division              1082 non-null object
Ops VP                          1081 non-null object
Ops Director/RGM                1048 non-null object
Hotel Type                      1082 non-null object
Country Brand Grouping          1082 non-null object
RGI Comparable View             1082 non-null object
Owner Account                   709 non-null object
Management Company              714 non-null object
Country                         1082 non-null object
Prioritisation Score            729 non-null object
Lat                             1082 non-null float64
Long                            1082 non-null float64
Hotel Open Date                 1082 non-null object
Contract Expiry Date            1080 non-null object
City                            1081 non-null object
Room Count                      1082 non-null int64
STR Market Name                 1028 non-null object
STR Tract Name                  1028 non-null object
STR Scale                       1038 non-null object
GM First Name                   1029 non-null object
GM Last Name                    1029 non-null object
GM E-Mail Address               1032 non-null object
Additional CC E-Mail Address    1053 non-null object
Fac ID2                         1070 non-null object
STR Hotel Identifier            1082 non-null int64
dtypes: float64(2), int64(2), object(27)
memory usage: 262.1+ KB